body{font-family: sans-serif; background-color: #6e9e41; box-sizing: border-box;}
.calculadora{
	display:block;
	margin:0 auto;
	padding:20px;
	background-color:#6e9e41;
	width:350px;
	height:500px;
	border-radius: 45px;
}
.calculadora td button{
	display:block;
	width:70px;
	height: 70px;
	font-size: 25px;
}

#resultado{
	display:block;
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
	width:300px;
	height: 100px;
	line-height: 100px;
	background-color:#fff;
	border-radius: 25px;
	overflow-y: scroll;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
img{
    display:block;
    margin:auto;
    width: 40%; height:30%;
}

input{
    display:block;
	margin:auto;
	margin-bottom: 10px;
}
.header-section1 {
    text-align: center;
    color: white;
  }