body {
  font-family: 'Raleway', sans-serif;
}
.h6 { 
  font-size: small;
  font-size: calc(1em + 1vw) 
}

.center {
  text-align: center;
}

header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

.header-section1{
  text-align: center;
  color: black;
  -webkit-text-stroke: 2px black;
  color: white; 

}

a{
  color: black;
}

a:hover{
  color: black;
}

a:active{
  color: black;
}

.header-section2{
  text-align: center;
  color: black;
  font-size: x-large;
  -webkit-text-stroke: 1px black;
  color: white;
}
.hero-section {
  text-align: left;
  color: gray;
  text-shadow: 0.1em 0.15em 0.15em #000000;
}

.hero-section2 {
  text-align-last: center;
  color: gray;
  text-shadow: 0.1em 0.15em 0.15em #000000;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


