body {
  font-family: "Raleway", sans-serif;
}
.h6 {
  font-size: small;
  font-size: calc(1em + 1vw);
}
ul li{
list-style-image: url("../img/tickicon1.png");
}
.center {
  text-align: center;
}
.botonMostrarConocimientos{
  border: 5px solid black;
}
.botonMostrarExperiencias{
  border: 5px solid black;
}
.botonMostrarCertificados{
  border: 5px solid black;
}
.certificados {
  font-size: xx-large;
}
.experiencias {
  font-size: xx-large;
}
header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom: 22rem;
  animation: header 15s infinite;
}


@keyframes header {
  0%,
  25% {
    background-image: url("../img/header1.jpg");
  }
  30%,
  55% {
    background-image: url("../img/header2.jpg");
  }
  60%,
  80% {
    background-image: url("../img/header3.jpg");
  }
  85%,
  100% {
    background-image: url("../img/header4.jpg");
  }
}

.header-section1 {
  text-align: center;
  color: black;
  -webkit-text-stroke: 2px black;
  color: white;
}
.dropdown-menu {
  height: 300px;
  overflow: auto;
}

a {
  color: white;
  text-shadow: 0.1em 0.15em 0.15em #000000;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
.progress{
font-weight: bold;
font-size: 17px;
-webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
.conocimientos{
font-weight: bold;
font-size: 30px;
-webkit-text-stroke: 2px rgb(0, 0, 0);
}


.header-section2 {
  text-align: center;
  
  font-size: xx-large;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.hero-section {
  text-align: left;
  color: gray;
  text-shadow: 0.1em 0.15em 0.15em #000000;
}

.hero-section2 {
  text-align-last: center;
  color: gray;
  text-shadow: 0.1em 0.15em 0.15em #000000;
}

.card-deck{
  width: 100%  ;
  margin: auto;
}

.slider{
  size: 5px;
  margin:auto;
}
.slider ul{
  display: flex;
  padding: 0;
}
.slider li{
  list-style: none;
}


/* .carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container  {
  white-space: nowrap;
  margin: 70px 0px ;
  padding-bottom: 10px ;
}

.carousel-item{
  background-color: blue;
  width: 200px  ;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px  ;
  display: inline-block;
  cursor: pointer;
transition: 600ms all;
transform-origin: center left;
position: relative;
}

.carousel__container:hover ~ .carousel-item{
  transform: translate3d(100px,0,0) ;

}
.carousel__container:hover .carousel-item{
  opacity: 0.3 ;
}
.carousel__container:hover .carousel-item:hover{
  transform: scale(1.5) ;
}

.carousel-item__img{
  width: 250px;
  height: 300px ;
  object-fit: cover;
}

.carousel-item__details{
  background: linear-gradient(to top, rgba(0,0,0,0.9)0%,rgba(0,0,0,0)100%);
font-size: 10px ;
opacity: 1;
transition: 500ms opacity;
padding: 10px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;

; */
